<footer id="footer">
    <div class="languangeButton">
        <a href="">
            <i class="fas fa-globe"></i>
            <span>PT/</span>
            <span>EN</span>
        </a>
    </div>
    <div class="footer_menu">
        <div class="socials">
            <ul class="socials1">
                <li class="fade-in">
                    <a href="https://www.facebook.com/ClinicaGynebe/" target="_blank"> <i
                            class="fa fa-facebook"></i></a>
                </li>
                <li class="fade-in"><a href="https://www.instagram.com/clinica_gynebe/" target="_blank"><i
                            class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <nav>
            <ul>
                <li class="fade-in"><a href="index.html">
                        <%= footer.index %>
                    </a></li>
                <li class="fade-in"><a href="specialties.html">
                        <%= footer.specialties %>
                    </a></li>
                <li class="fade-in"><a href="agreements.html">
                        <%= footer.agreements %>
                    </a></li>
                <li class="fade-in"><a href="contacts.html">
                        <%= footer.contacts %>
                    </a></li>
            </ul>
        </nav>
    </div>
    <div class="privacy-block fade-in">
        <a href="index.html">
            <%= footer.privacy.index %>
        </a> &copy; <span id="copyright-year">
            <%= footer.privacy.copyrightYear %>
        </span>. <a href="privacy.html">
            <%= footer.privacy.policy %>
        </a><br><a href="https://github.com/FranciscoAraujoPT">
            <%= footer.privacy.god %>
        </a>
    </div>
</footer>