<header id="header">
    <div id="logo">
        <h1 class="fadeInDown">
            <a href="index.html">
                <span class="second">
                    <%= header.logo.second %>
                </span>
                <span class="first">
                    <%= header.logo.first %>
                </span>
            </a>
        </h1>
    </div>
    <nav class="headerNav">
        <div class="navButton">
            <div class="lineTop"></div>
            <div class="lineMiddle"></div>
            <div class="lineBottom"></div>
        </div>
        <div class="dropdownBackground">
            <span class="arrow"></span>
        </div>
        <ul class="sf-menu">
            <li class="top">
                <a href="index.html">
                    <%= header.index.title %>
                </a>
                <div class="dropdown dropdownIndex">
                    <ul>
                        <li>
                            <i class="fas fa-user-md"></i><a href="index.html#wrapper2">
                                <%= header.index.mission %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-user-friends"></i><a href="index.html#wrapper3">
                                <%= header.index.team %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-hospital-user"></i><a href="index.html#wrapper4">
                                <%= header.index.bestCare %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="specialties.html">
                    <%= header.specialties.title %>
                </a>
                <div class="dropdown dropdownSpecialties">
                    <ul>
                        <li>
                            <i class="fas fa-female"></i>
                            <a href="specialties.html#gyne">
                                <%= header.specialties.gyne %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-baby"></i>
                            <a href="specialties.html#ped">
                                <%= header.specialties.pedo %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-pills"></i>
                            <a href="specialties.html#endo">
                                <%= header.specialties.endo %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-comment-medical"></i>
                            <a href="specialties.html#psy">
                                <%= header.specialties.psi %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-utensils"></i>
                            <a href="specialties.html#nut">
                                <%= header.specialties.nut %>
                            </a>
                        </li>
                        <!-- <li>
                            <i class="fas fa-spa"></i>
                            <a href="specialties#fisio">Fisioterapia</a>
                        </li> -->
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="agreements.html">
                    <%= header.agreements.title %>
                </a>
                <div class="dropdown dropdownAgreements">
                    <ul>
                        <li><img src="<%= en %>../images/advanceCare_logo.png" alt="Advancecare Logo">
                            <a href="agreements.html#advanceCare">
                                <%= header.agreements.advanceCare %>
                            </a>
                        </li>
                        <li><img src="<%= en %>../images/allianz_logo.png" alt="Allianz Logo">
                            <a href="agreements.html#allianz">
                                <%= header.agreements.allianz %>
                            </a>
                        </li>
                        <li><img src="<%= en %>../images/fh_logo.png" alt="Future Healthcare Logo">
                            <a href="agreements.html#furureHealth">
                                <%= header.agreements.futureHealthcare %>
                            </a>
                        </li>
                        <li><img src="<%= en %>../images/medicare_logo.png" alt="Medicare Logo">
                            <a href="agreements.html#medicare">
                                <%= header.agreements.medicare %>
                            </a>
                        </li>
                        <li><img src="<%= en %>../images/medis_logo.png" alt="Médis Logo">
                            <a href="agreements.html#medis">
                                <%= header.agreements.medis %>
                            </a>
                        </li>
                        <li><img src="<%= en %>../images/rna_logo.png" alt="RNA Logo">
                            <a href="agreements.html#rna">
                                <%= header.agreements.rna %>
                            </a>
                        </li>
                        <li><img src="<%= en %>../images/sib_logo.png" alt="SAMS/SIB Logo">
                            <a href="agreements.html#samsSib">
                                <%= header.agreements.samsSib %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="gallery.html">
                    <%= header.gallery.title %>
                </a>
                <div class="dropdown dropdownGallery">
                    <ul>
                        <li><i class="fas fa-images"></i><a href="gallery.html">
                                <%= header.gallery.porto %>
                            </a></li>
                        <li><i class="far fa-images"></i><a href="galleryST.html">
                                <%= header.gallery.santoTirso %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="contacts.html">
                    <%= header.contacts.title %>
                </a>
                <div class="dropdown dropdownContacts">
                    <ul>
                        <li><i class="fas fa-address-book"></i>
                            <a href="contacts.html">
                                <%= header.contacts.porto %>
                            </a>
                        </li>
                        <li><i class="far fa-address-book"></i>
                            <a href="contacts_santo_tirso.html">
                                <%= header.contacts.santoTirso %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <ul class="socials2">
                <li class="fade-in">
                    <a href="https://www.facebook.com/ClinicaGynebe/" target="_blank"> <i
                            class="fa fa-facebook"></i></a>
                </li>
                <li class="fade-in"><a href="https://www.instagram.com/clinica_gynebe/"><i
                            class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </ul>
    </nav>
    <div class="phone">
        <span class="first">
            <%= header.phone.title %>
        </span>
        <a href="tel:00351225432135">
            <address>
                <%= header.phone.landline %>
            </address>
        </a>
        <a href="tel:00351915424413">
            <address>
                <%= header.phone.number %>
            </address>
        </a>
        <p>
            <%= header.phone.text %>
        </p>
        <p>
            <%= header.phone.text2 %>
        </p>
    </div>
</header>