<!DOCTYPE html>
<html>

<head>
    <title>
        <%= head.agreements %>
    </title>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content">
            <div class="overlay"></div>
            <div class="wrapper6">
                <div class="heading1 fade-in">
                    <h2>
                        <%= agreements.title %>
                    </h2>
                </div>
            </div>
            <div class="wrapper6 wrapper6__inset1">
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://advancecare.pt/" target="_blank">
                            <img src="<%= otherLang %>../images/advancecare.png"
                                alt="AdvanceCare - Gestão de Serviços de Saúde, S.A." />
                        </a>
                        <div class="title">
                            <h3 class="h3_inset1">
                                <%= agreements.advanceCare.title %>
                            </h3>
                            <p>
                                <%= agreements.advanceCare.text %><a href="http://advancecare.pt/" target="_blank">
                                        <%= agreements.advanceCare.link %>
                                    </a>
                            </p>
                            <p>
                                <%= agreements.advanceCare.text2 %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="chevronDown">
                    <button><i class="fas fa-chevron-down"> </i></button>
                </div>
                <div class="box2-wrapper6">
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/acoreana.png" alt="Açoreana" />
                        <p>&brvbar Açoreana</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/ccmo.jpg" alt="CCMO-MUTUELLE" />
                        <p>&brvbar CCMO-MUTUELLE</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/cimpor.png" alt="Cimpor - Cimentos de Portugal, S.A." />
                        <p>&brvbar Cimpor - Cimentos de Portugal, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/eurovida.jpg"
                            alt="Eurovida – Companhia de Seguros de Vida, S.A" />
                        <p>&brvbar Eurovida – Companhia de Seguros de Vida, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/generali.png" alt="Generalicare" />
                        <p>&brvbar Generalicare - Companhia de Seguros, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/gnb.png" alt="GNB - Companhia de Seguros, S.A" />
                        <p>&brvbar GNB - Companhia de Seguros, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/gps.jpg" alt="Grumo Groupama" />
                        <p>&brvbar Grupo Groupama</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/logo.jpg" alt="Logo" />
                        <p>&brvbar Logo Seguros</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/lusitania.png"
                            alt="Lusitania - Companhia de Seguros, S.A." />
                        <p>&brvbar Lusitania - Companhia de Seguros, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/mgen.png"
                            alt="MGEN - Mutuelle Générale de l'Éducation Nationale" />
                        <p>&brvbar MGEN - Mutuelle Générale de l'Éducation Nationale</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/n_seguros.png" alt="N Seguros, S.A" />
                        <p>&brvbar N Seguros, S.A</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/popular.png"
                            alt="Popular Seguros- Companhia de Seguros, S.A. " />
                        <p>&brvbar Popular Seguros- Companhia de Seguros, S.A. </p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/real.png" alt="Real Vida Seguros" />
                        <p>&brvbar Real Vida Seguros</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/sams.png"
                            alt="SAMS - Serviços de Assistência Médico-Social do Sindicato dos Bancários Sul e Ilhas" />
                        <p>&brvbar SAMS - Serviços de Assistência Médico-Social do Sindicato dos Bancários</p>
                    </div>
                    <div id="allianz" class="insurence fade-in">
                        <img src="<%= otherLang %>../images/tranquilidade.png" alt="Tranquilidade" />
                        <p>&brvbar Tranquilidade</p>
                    </div>
                </div>
                <div id="furureHealth" class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.allianz.pt/" target="_blank"></a>
                        <img src="<%= otherLang %>../images/allianz.png" alt="Allianz Saúde" />
                        <div class="title">
                            <h3 class="h3__inset1">
                                <%= agreements.allianz.title %>
                            </h3>
                            <p>
                                <%= agreements.allianz.text %><a href="http://www.allianz.pt/" target="_blank">
                                        <%= agreements.allianz.link %>
                                    </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.future-healthcare.pt/victoria/rm/rede-medica.html" target="_blank">
                            <img src="<%= otherLang %>../images/future.png" alt="Future Healthcare" />
                        </a>
                        <div class="title">
                            <h3 class="h3_inset1">
                                <%= agreements.futureHealthcare.title %>
                            </h3>
                            <p>
                                <%= agreements.futureHealthcare.text %>
                                    <a href="http://www.future-healthcare.pt/victoria/rm/rede-medica.html"
                                        target="_blank">
                                        <%= agreements.futureHealthcare.link %>
                                    </a>
                            </p>
                            <p>
                                <%= agreements.futureHealthcare.text2 %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="chevronDown">
                    <button><i class="fas fa-chevron-down"> </i></button>
                </div>
                <div class="box2-wrapper6">
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/saude.png" alt="Saúde Prime" />
                        <p>&brvbar Saúde Prime</p>
                    </div>
                    <div id="medicare" class="insurence fade-in">
                        <img src="<%= otherLang %>../images/victoria.png" alt="Victoria" />
                        <p>&brvbar Victoria</p>
                    </div>
                </div>
                <div id="medis" class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="https://www.medicare.pt/" target="_blank">
                            <img src="<%= otherLang %>../images/medicare.jpg" alt="Medicare" />
                        </a>
                        <div class="title">
                            <h3 class="h3__inset1">
                                <%= agreements.medicare.title %>
                            </h3>
                            <p>
                                <%= agreements.medicare.text %><a href="https://www.medicare.pt/" target="_blank">
                                        <%= agreements.medicare.link %>
                                    </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.medis.pt/pt-pt/Pages/default.aspx" target="_blank">
                            <img src="<%= otherLang %>../images/medis.png"
                                alt="Médis - Companhia Portuguesa de Seguros de Saúde, S.A." />
                        </a>
                        <div class="title">
                            <h3>
                                <%= agreements.medis.title %>
                            </h3>
                            <p>
                                <%= agreements.medis.text %><a href="http://www.medis.pt/pt-pt/Pages/default.aspx"
                                        target="_blank">
                                        <%= agreements.medis.link %>
                                    </a>
                            </p>
                            <p>
                                <%= agreements.medis.text2 %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="chevronDown">
                    <button><i class="fas fa-chevron-down"> </i></button>
                </div>
                <div class=" box2-wrapper6">
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/ageas.png" alt="Ageas Seguros" />
                        <p>&brvbar Ageas Seguros</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/ctt.png" alt="CTT - Médis" />
                        <p>&brvbar CTT - Médis</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="<%= otherLang %>../images/liberty.png" alt="Liberty Seguros" />
                        <p>&brvbar Liberty Seguros</p>
                    </div>
                    <div id="rna" class="insurence fade-in">
                        <img src="<%= otherLang %>../images/zurich.png" alt="Zurich" />
                        <p>&brvbar Zurich</p>
                    </div>
                </div>
                <div id="samsSib" class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.rnamedical.pt/pt/home/" target="_blank">
                            <img src="<%= otherLang %>../images/rna.png" alt="RNA Medical" />
                        </a>
                        <div class="title">
                            <h3>
                                <%= agreements.rna.title %>
                            </h3>
                            <p>
                                <%= agreements.rna.text %><a href="http://www.rnamedical.pt/pt/home/"
                                        target="_blank"></a>
                                    <%= agreements.rna.link %>
                                        </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.sibanca.pt/" target="_blank">
                            <img src="<%= otherLang %>../images/sams_sib.png" alt="SAMS-SIB" />
                        </a>
                        <div class="title">
                            <h3 class="h3__inset1">
                                <%= agreements.samsSib.title %>
                            </h3>
                            <p>
                                <%= agreements.samsSib.text %><a href="http://www.sibanca.pt/" target="_blank">
                                        <%= agreements.samsSib.link %>
                                    </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="https://ami.org.pt/" target="_blank">
                            <img src="<%= otherLang %>../images/ami.png" alt="Assistência Médica Internacional" />
                        </a>
                        <div class="title">
                            <h3 class="h3__inset1">
                                <%= agreements.ami.title %>
                            </h3>
                            <p>
                                <%= agreements.ami.text %><a href="https://ami.org.pt/" target="_blank">
                                        <%= agreements.ami.link %>
                                    </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="<%= otherLang %>../js/app.js"></script>
            <script src="<%= otherLang %>../js/intersectionObservers.js"></script>
            <script src="<%= otherLang %>../js/headerNavbar.js"></script>
            <script src="<%= otherLang %>../js/headerNavbarButtons.js"></script>
            <script src="<%= otherLang %>../js/buttonOnAgreements.js"></script>
            <script src="<%= otherLang %>../js/language.js"></script>
</body>

</html>