<!DOCTYPE html>
<html>

<head>
    <title>
        <%= head.contacts_santo_tirso %>
    </title>
    <%- include("parcials/head") %>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="wrapper1 wrapper1__inset3">
                <div class="heading1 fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2>
                        <%= contactsSantoTirso.title %>
                    </h2>
                </div>
                <div id="map"></div>
                <address class="our-address fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <a href="https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=41.34035341648697,-8.477143117721402"
                        target="_blank"><span>Rua D. Nuno Alvares Pereira 11, 1ยบ sala<br />8 St. Tirso</span></a>
                </address>
                <address class="contacts-address fadeIn">
                    <span class="wrapper-info"><span class="wide">Telefone:</span><a href="tel:00351225432135"> +351
                            252 850 480</a></span>
                    <span class="wrapper-info">E-mail:
                        <a href="mailto:geral@clinicagynebe.com.pt" class="simple-link">geral@clinicagynebe.com.pt</a>
                    </span>
                </address>
                <div class="schedule fade-in">
                    <h3>
                        <%= contactsSantoTirso.schedule.title %>
                    </h3>
                    <ul>
                        <li><strong>
                                <%= contactsSantoTirso.schedule.monday %>
                            </strong>
                            <%= contactsSantoTirso.schedule.mondayTime %>
                        </li>
                        <li><strong>
                                <%= contactsSantoTirso.schedule.tuesday %>
                            </strong>
                            <%= contactsSantoTirso.schedule.tuesdayTime %>
                        </li>
                        <li><strong>
                                <%= contactsSantoTirso.schedule.wednesday %>
                            </strong>
                            <%= contactsSantoTirso.schedule.wednesdayTime %>
                        </li>
                        <li><strong>
                                <%= contactsSantoTirso.schedule.thursday %>
                            </strong>
                            <%= contactsSantoTirso.schedule.thursdayTime %>
                        </li>
                        <li><strong>
                                <%= contactsSantoTirso.schedule.friday %>
                            </strong>
                            <%= contactsSantoTirso.schedule.fridayTime %>
                        </li>
                        <li><strong>
                                <%= contactsSantoTirso.schedule.saturday %>
                            </strong>
                            <%= contactsSantoTirso.schedule.saturdayTime %>
                        </li>
                        <li><strong>
                                <%= contactsSantoTirso.schedule.sunday %>
                            </strong>
                            <%= contactsSantoTirso.schedule.sundayTime %>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="<%= en %>../js/app.js"></script>
            <script src="<%= en %>../js/intersectionObservers.js"></script>
            <script src="<%= en %>../js/headerNavbar.js"></script>
            <script src="<%= en %>../js/headerNavbarButtons.js"></script>
            <script src="<%= en %>../js/mapST.js"></script>
            <script src="<%= en %>../js/languange.js"></script>
</body>

</html>