<!DOCTYPE html>
<html>

<head>
    <title>
        <%= head.contacts %>
    </title>
    <%- include("parcials/head") %>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="overlay"></div>
            <div class="wrapper1 wrapper1__inset3">
                <div class="heading1 fadeIn">
                    <h2>
                        <%= contacts.title %>
                    </h2>
                </div>
                <div id="map"></div>
                <address class="our-address fadeIn">
                    <a href="https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=41.14735259875789,-8.620945015926148"
                        target="_blank"><span>Rua D. Manuel II 33, 4ยบ sala 44,<br />4050-345 Porto.</span></a>
                </address>
                <address class="contacts-address fadeIn">
                    <span class="wrapper-info"><span class="wide">Telefone:</span><a href="tel:00351225432135"> +351
                            225 432 135/6</a></span>
                    <span class="wrapper-info"><span class="wide">Fax:</span> +351 225 432 209</span>
                    <span class="wrapper-info">E-mail:
                        <a href="mailto:geral@clinicagynebe.com.pt" class="simple-link">geral@clinicagynebe.com.pt</a>
                    </span>
                </address>
                <div class="schedule fade-in">
                    <h3>
                        <%= contacts.schedule.title %>
                    </h3>
                    <ul>
                        <li><strong>
                                <%= contacts.schedule.monday %>
                            </strong>
                            <%= contacts.schedule.mondayTime %>
                        </li>
                        <li><strong>
                                <%= contacts.schedule.tuesday %>
                            </strong>
                            <%= contacts.schedule.tuesdayTime %>
                        </li>
                        <li><strong>
                                <%= contacts.schedule.wednesday %>
                            </strong>
                            <%= contacts.schedule.wednesdayTime %>
                        </li>
                        <li><strong>
                                <%= contacts.schedule.thursday %>
                            </strong>
                            <%= contacts.schedule.thursdayTime %>
                        </li>
                        <li><strong>
                                <%= contacts.schedule.friday %>
                            </strong>
                            <%= contacts.schedule.fridayTime %>
                        </li>
                        <li><strong>
                                <%= contacts.schedule.saturday %>
                            </strong>
                            <%= contacts.schedule.saturdayTime %>
                        </li>
                        <li><strong>
                                <%= contacts.schedule.sunday %>
                            </strong>
                            <%= contacts.schedule.sundayTime %>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="<%= otherLang %>../js/app.js"></script>
            <script src="<%= otherLang %>../js/intersectionObservers.js"></script>
            <script src="<%= otherLang %>../js/headerNavbar.js"></script>
            <script src="<%= otherLang %>../js/headerNavbarButtons.js"></script>
            <script src="<%= otherLang %>../js/mapPorto.js"></script>
            <script src="<%= otherLang %>../js/language.js"></script>
</body>

</html>