<!DOCTYPE html>
<html>

<head>
    <title>
        <%= head.galleryST %>
    </title>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content">
            <div class="wrapper1">
                <div class="heading1 fade-in">
                    <h2>
                        <%= galleryST.title %>
                    </h2>
                </div>
                <div class="box2-wrapper2">
                    <h6 class="fade-in">
                        <%= galleryST.text %>
                    </h6>
                </div>
            </div>
            <div class="box6-wrapper1__inset1">
                <div class="box6 img18 fade-in">
                    <img src="<%= en %>../images/EVO_1810.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>
                            <%= galleryST.images.text %>
                        </h5>
                        <h4>
                            <%= galleryST.images.waitRoom %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img19 fade-in">
                    <img src="<%= en %>../images/EVO_1813.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>
                            <%= galleryST.images.text %>
                        </h5>
                        <h4>
                            <%= galleryST.images.waitRoom %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img20 fade-in">
                    <img src="<%= en %>../images/EVO_1818.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>
                            <%= galleryST.images.text %>
                        </h5>
                        <h4>
                            <%= galleryST.images.waitRoom %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img21 fade-in">
                    <img src="<%= en %>../images/EVO_1826.jpg" alt="Logo" />
                    <span class="img-content-hover">
                        <h5>
                            <%= galleryST.images.logoText %>
                        </h5>
                        <h4>
                            <%= galleryST.images.logo %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img22 fade-in">
                    <img src="<%= en %>../images/EVO_1847.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= galleryST.images.text %>
                        </h5>
                        <h4>
                            <%= galleryST.images.gyne %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img23 fade-in">
                    <img src="<%= en %>../images/EVO_1855.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= galleryST.images.text %>
                        </h5>
                        <h4>
                            <%= galleryST.images.gyne %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img24 fade-in">
                    <img src="<%= en %>../images/EVO_1859.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= galleryST.images.text %>
                        </h5>
                        <h4>
                            <%= galleryST.images.gyne %>
                        </h4>
                    </span>
                </div>
            </div>
            <div class="backgroundCover"></div>
            <div class="slider">
                <div class="wrapper">
                    <div class="slides">
                        <span class="slide">
                            <img src="<%= en %>../images/EVO_1810.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="<%= en %>../images/EVO_1813.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="<%= en %>../images/EVO_1818.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="<%= en %>../images/EVO_1826.jpg" alt="Logo" />
                        </span>
                        <span class="slide">
                            <img src="<%= en %>../images/EVO_1847.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="<%= en %>../images/EVO_1855.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="<%= en %>../images/EVO_1859.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                    </div>
                </div>
                <a class="control prev"></a>
                <a class="control next"></a>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="<%= en %>../js/app.js"></script>
            <script src="<%= en %>../js/intersectionObservers.js"></script>
            <script src="<%= en %>../js/headerNavbar.js"></script>
            <script src="<%= en %>../js/headerNavbarButtons.js"></script>
            <script src="<%= en %>../js/carousel.js"></script>
            <script src="<%= en %>../js/galleryST.js"></script>
            <script src="<%= en %>../js/languange.js"></script>
</body>

</html>