<!DOCTYPE html>
<html>

<head>
    <title>
        <%= head.privacy %>
    </title>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="overlay"></div>
            <div class="wrapper1 wrapper1__inset4">
                <div class="heading1 fadeIn">
                    <h2>
                        <%= privacy.title %>
                    </h2>
                </div>
                <div class="box7-wrapper1">
                    <div class="box7 fadeIn">
                        <p>
                            <%= privacy.p1 %>
                                <a href=#>
                                    <%= privacy.name %>
                                </a>
                                <%= privacy.p2 %>
                        </p>
                        <p>
                            <%= privacy.p3 %>
                        </p>
                        <p>
                            <%= privacy.p4 %>
                        </p>
                    </div>

                    <div class="box7 fadeIn">
                        <p>
                            <%= privacy.p5 %>
                        </p>
                        <p>
                            <%= privacy.p6 %>
                                <a href="privacy.html" target='_BLANK'>
                                    <%= privacy.pp %>
                                </a>
                        </p>
                        <p>
                            <%= privacy.p7 %>
                        </p>
                        <p>
                            <%= privacy.p8 %>
                        </p>
                    </div>

                    <div class="box7 fadeIn">
                        <h6>
                            <%= privacy.subtitle %>
                        </h6>
                        <p>
                            <%= privacy.p9 %>
                        </p>
                        <ul>
                            <li>
                                <%= privacy.p10.l1 %>
                            </li>
                            <li>
                                <%= privacy.p10.l2 %>
                            </li>
                            <li>
                                <%= privacy.p10.l3 %>
                            </li>
                        </ul>
                    </div>

                    <div class="box7 fadeIn">
                        <h6>
                            <%= privacy.subtitle2 %>
                        </h6>
                        <p>
                            <%= privacy.p11 %>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="<%= otherLang %>../js/app.js"></script>
            <script src="<%= otherLang %>../js/intersectionObservers.js"></script>
            <script src="<%= otherLang %>../js/headerNavbar.js"></script>
            <script src="<%= otherLang %>../js/headerNavbarButtons.js"></script>
            <script src="<%= otherLang %>../js/language.js"></script>
</body>

</html>