<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="overlay"></div>
            <div class="wrapper1 wrapper1__inset2">
                <div class="heading1 fade-in">
                    <h2>
                        <%= specialties.title %>
                    </h2>
                </div>
                <div class="box4-wrapper2">
                    <div class="box4">
                        <h6 class="fade-in">
                            <%= specialties.text %>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="wrapper5">
                <div class="box5-wrapper1">
                    <div id="gyne" class="box5">
                        <a href="mca.html">
                            <img class="fade-in" src="../images/gyne.png" alt="">
                        </a>
                        <h3 class="h3__inset1 fade-in">
                            <a href="mca.html">
                                <%= specialties.gyne.title %>
                            </a>
                        </h3>
                        <p class="fade-in">
                            <%= specialties.gyne.text %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.gyne.text2 %>
                        </p>
                        <button aria-label="Ginecologia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>
                                <%= specialties.gyne.list1 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list2 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list3 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list4 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list5 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list6 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list7 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list8 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list9 %>
                            </li>
                            <li>
                                <%= specialties.gyne.list10 %>
                            </li>
                        </ul>
                    </div>
                    <div id="obs" class="box5">
                        <a href="mca.html">
                            <img class="fade-in" src="../images/page3_img2.png" alt="">
                        </a>
                        <h3 class="h3__inset1 fade-in">
                            <a href="mca.html">
                                <%= specialties.obs.title %>
                            </a>
                        </h3>
                        <p class="fade-in">
                            <%= specialties.obs.text %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.obs.text2 %>
                        </p>
                        <button aria-label="Obstetrícia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>
                                <%= specialties.obs.list1 %>
                            </li>
                            <li>
                                <%= specialties.obs.list2 %>
                            </li>
                            <li>
                                <%= specialties.obs.list3 %>
                            </li>
                            <li>
                                <%= specialties.obs.list4 %>
                            </li>
                            <li>
                                <%= specialties.obs.list5 %>
                            </li>
                            <li>
                                <%= specialties.obs.list6 %>
                            </li>
                            <li>
                                <%= specialties.obs.list7 %>
                            </li>
                            <li>
                                <%= specialties.obs.list8 %>
                            </li>
                            <li>
                                <%= specialties.obs.list9 %>
                            </li>
                        </ul>
                    </div>

                    <div id="ped" class="box5">
                        <a href="gv.html">
                            <img class="fade-in" src="../images/pediatrics.jpg" alt="">
                        </a>
                        <h3 class="h3__inset2 fade-in">
                            <a href="gv.html">
                                <%= specialties.ped.title %>
                            </a>
                            <!-- https://unsplash.com/photos/JcrysJBO8kQ -->
                        </h3>
                        <p class="fade-in">
                            <%= specialties.ped.text %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.ped.text2 %>
                        </p>
                        <button aria-label="Pediatria"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>
                                <%= specialties.ped.list1 %>
                            </li>
                            <li>
                                <%= specialties.ped.list2 %>
                            </li>
                            <li>
                                <%= specialties.ped.list3 %>
                            </li>
                            <li>
                                <%= specialties.ped.list4 %>
                            </li>
                            <li>
                                <%= specialties.ped.list5 %>
                            </li>
                        </ul>
                    </div>

                    <div id="endo" class="box5">
                        <a href="lc.html">
                            <img class="fade-in" src="../images/endo.jpg" alt="">
                        </a>
                        <h3 class="h3__inset3 fade-in">
                            <a href="lc.html">
                                <%= specialties.endo.title %>
                            </a>
                            <!-- https://unsplash.com/photos/Nqj2XWHy4K0 -->
                        </h3>
                        <p class="fade-in">
                            <%= specialties.endo.text %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.endo.text2 %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.endo.text3 %>
                        </p>
                        <button aria-label="Endocrinologia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>
                                <%= specialties.endo.list1 %>
                            </li>
                            <li>
                                <%= specialties.endo.list2 %>
                            </li>
                            <li>
                                <%= specialties.endo.list3 %>
                            </li>
                            <li>
                                <%= specialties.endo.list4 %>
                            </li>
                            <li>
                                <%= specialties.endo.list5 %>
                            </li>
                            <li>
                                <%= specialties.endo.list6 %>
                            </li>
                            <li>
                                <%= specialties.endo.list7 %>
                            </li>
                        </ul>
                    </div>
                    <div id="psy" class="box5">
                        <a href="mb.html">
                            <img class="fade-in" src="../images/psychologist.jpg" alt="">
                        </a>
                        <h3 class="h3__inset1 fade-in">
                            <a href="mb.html">
                                <%= specialties.psy.title %>
                            </a>
                        </h3>
                        <p class="fade-in">
                            <%= specialties.psy.text %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.psy.text2 %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.psy.text3 %>
                        </p>
                        <button aria-label="Psicologia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>
                                <%= specialties.psy.list1 %>
                            </li>
                            <li>
                                <%= specialties.psy.list2 %>
                            </li>
                            <li>
                                <%= specialties.psy.list3 %>
                            </li>
                            <li>
                                <%= specialties.psy.list4 %>
                            </li>
                            <li>
                                <%= specialties.psy.list5 %>
                            </li>
                            <li>
                                <%= specialties.psy.list6 %>
                            </li>
                            <li>
                                <%= specialties.psy.list7 %>
                            </li>
                            <li>
                                <%= specialties.psy.list8 %>
                            </li>
                            <li>
                                <%= specialties.psy.list9 %>
                            </li>
                            <li>
                                <%= specialties.psy.list10 %>
                            </li>
                        </ul>
                    </div>
                    <div id="nut" class="box5">
                        </li>
                        <a href="ds.html"><img class="fade-in" src="../images/nutrition.jpg" alt=""></a>
                        <h3 class="h3__inset2 fade-in">
                            <a href="ds.html">
                                <%= specialties.nut.title %>
                            </a>
                            <!-- https://unsplash.com/photos/QZub8Ni3x_c -->
                        </h3>
                        <p class="fade-in">
                            <%= specialties.nut.text %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.nut.text2 %>
                        </p>
                        <p class="fade-in">
                            <%= specialties.nut.text3 %>
                        </p>
                        <!-- <button><i class="fas fa-chevron-down"></i></button>
                <ul class="list1__inset1">
                    <li>
                        <a href="#">Well women screening</a>
                    </li>
                    <li>
                        <a href="#">Ultrasound scanning including transvaginal scan</a>
                    </li>
                    <li>
                        <a href="#">IUCD insertion/removal</a>
                    </li>
                    <li>
                        <a href="#">Implanon insertion/removal</a>
                    </li>
                    <li>
                        <a href="#">Family planning advice</a>
                    </li>
                    <li>
                        <a href="#">Gynaecological surgery</a>
                    </li>
                    <li>
                        <a href="#">Advice on Menopause</a>
                    </li>
                </ul> -->
                    </div>
                    <!-- <div id="fisio" class="box5">
                <img class="fade-in" src="../images/fisio.png" alt="">
                <h3 class="h3__inset1 fade-in">
                    Fisioterapia
                    https://unsplash.com/photos/a9pFSC8dTlo
                </h3>
                <p class="fade-in">
                    dolor
                    sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip.</p>
                <button><i class="fas fa-chevron-down"></i></button>
                <ul class="list1__inset1">
                    <li>
                        <a href="#">Prepregnancy counseling</a>
                    </li>
                    <li>
                        <a href="#">Confirmation of pregnancy</a>
                    </li>
                    <li>
                        <a href="#">Antenatal check-up</a>
                    </li>
                </ul>
            </div> -->
                </div>
            </div>
        </section>

        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/headerNavbarButtons.js"></script>
            <script src="../js/buttonOnSpecialties.js"></script>
</body>

</html>