<footer id="footer">
    <div class="footer_menu">
        <div class="socials">
            <ul class="socials1">
                <li class="fade-in">
                    <a href="https://www.facebook.com/ClinicaGynebe/" target="_blank"> <i
                            class="fab fa-facebook"></i></a>
                </li>
                <li class="fade-in"><a href="https://www.instagram.com/clinica_gynebe/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <nav>
            <ul>
                <li class="fade-in"><a href="index">
                        <%= footer.index %>
                    </a></li>
                <li class="fade-in"><a href="specialties">
                        <%= footer.specialties %>
                    </a></li>
                <li class="fade-in"><a href="agreements">
                        <%= footer.agreements %>
                    </a></li>
                <li class="fade-in"><a href="contacts">
                        <%= footer.contacts %>
                    </a></li>
            </ul>
        </nav>
    </div>
    <div class="footer_phone">
        <p><sup class="phone_sup">1</sup>
            <%= footer.privacy.landline %>
        </p>
        <p><sup class="phone_sup">2</sup>
            <%= footer.privacy.phone %>
        </p>
    </div>
    <div class="privacy-block fade-in">
        <a href="index">
            <%= footer.privacy.index %>
        </a> &copy; <span id="copyright-year">
            <%= footer.privacy.copyrightYear %>
        </span>. <a href="privacy">
            <%= footer.privacy.policy %>
        </a><br><a href="https://github.com/FranciscoAraujoPT">
            <%= footer.privacy.god %>
        </a>
    </div>
</footer>