<header id="header">
    <div id="logo">
        <h1 class="fadeInDown">
            <a href="index">
                <span class="second">
                    <%= header.logo.second %>
                </span>
                <span class="first">
                    <%= header.logo.first %>
                </span>
            </a>
        </h1>
    </div>
    <nav class="headerNav">
        <div class="navButton">
            <div class="lineTop"></div>
            <div class="lineMiddle"></div>
            <div class="lineBottom"></div>
        </div>
        <div class="dropdownBackground">
            <span class="arrow"></span>
        </div>
        <ul class="sf-menu">
            <li class="top">
                <a href="index">
                    <%= header.index.title %>
                </a>
                <div class="dropdown dropdownIndex">
                    <ul>
                        <li>
                            <i class="fas fa-user-md"></i><a href="index#wrapper2">
                                <%= header.index.mission %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-user-friends"></i><a href="index#wrapper3">
                                <%= header.index.team %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-hospital-user"></i><a href="index#wrapper4">
                                <%= header.index.bestCare %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="specialties">
                    <%= header.specialties.title %>
                </a>
                <div class="dropdown dropdownSpecialties">
                    <ul>
                        <li>
                            <i class="fas fa-female"></i>
                            <a href="specialties#gyne">
                                <%= header.specialties.gyne %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-baby"></i>
                            <a href="specialties#ped">
                                <%= header.specialties.pedo %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-pills"></i>
                            <a href="specialties#endo">
                                <%= header.specialties.endo %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-comment-medical"></i>
                            <a href="specialties#psy">
                                <%= header.specialties.psi %>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-utensils"></i>
                            <a href="specialties#nut">
                                <%= header.specialties.nut %>
                            </a>
                        </li>
                        <!-- <li>
                            <i class="fas fa-spa"></i>
                            <a href="specialties#fisio">Fisioterapia</a>
                        </li> -->
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="agreements">
                    <%= header.agreements.title %>
                </a>
                <div class="dropdown dropdownAgreements">
                    <ul>
                        <li><img src="<%= otherLang %>../images/advanceCare_logo.png" alt="Advancecare Logo">
                            <a href="agreements#advanceCare">
                                <%= header.agreements.advanceCare %>
                            </a>
                        </li>
                        <li><img src="<%= otherLang %>../images/allianz_logo.png" alt="Allianz Logo">
                            <a href="agreements#allianz">
                                <%= header.agreements.allianz %>
                            </a>
                        </li>
                        <li><img src="<%= otherLang %>../images/fh_logo.png" alt="Future Healthcare Logo">
                            <a href="agreements#furureHealth">
                                <%= header.agreements.futureHealthcare %>
                            </a>
                        </li>
                        <li><img src="<%= otherLang %>../images/medicare_logo.png" alt="Medicare Logo">
                            <a href="agreements#medicare">
                                <%= header.agreements.medicare %>
                            </a>
                        </li>
                        <li><img src="<%= otherLang %>../images/medis_logo.png" alt="Médis Logo">
                            <a href="agreements#medis">
                                <%= header.agreements.medis %>
                            </a>
                        </li>
                        <li><img src="<%= otherLang %>../images/rna_logo.png" alt="RNA Logo">
                            <a href="agreements#rna">
                                <%= header.agreements.rna %>
                            </a>
                        </li>
                        <li><img src="<%= otherLang %>../images/sib_logo.png" alt="SAMS/SIB Logo">
                            <a href="agreements#samsSib">
                                <%= header.agreements.samsSib %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="gallery">
                    <%= header.gallery.title %>
                </a>
                <div class="dropdown dropdownGallery">
                    <ul>
                        <li><i class="fas fa-images"></i><a href="gallery">
                                <%= header.gallery.porto %>
                            </a></li>
                        <li><i class="far fa-images"></i><a href="galleryST">
                                <%= header.gallery.santoTirso %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="top">
                <a href="contacts">
                    <%= header.contacts.title %>
                </a>
                <div class="dropdown dropdownContacts">
                    <ul>
                        <li><i class="fas fa-address-book"></i>
                            <a href="contacts">
                                <%= header.contacts.porto %>
                            </a>
                        </li>
                        <li><i class="far fa-address-book"></i>
                            <a href="contacts_santo_tirso">
                                <%= header.contacts.santoTirso %>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="languageButton">
                <div class="langNavButton">
                    <div class="langLineTop"></div>
                    <div class="langLineBottom"></div>
                </div>
                <div class="inicialLang">
                    <i class="fas fa-globe"></i>
                    <p class="language">
                        <%= footer.languages %>
                    </p>
                </div>
                <ul class="languageList">
                    <li><a class="PT" href=""><img src="<%= otherLang %>../images/portugal.png" alt="Flag of Portugal">
                            <%= footer.pt %>
                        </a></li>
                    <li><a class="ES" href=""><img src="<%= otherLang %>../images/spain.png" alt="Flag of Spain">
                            <%= footer.es %>
                        </a>
                    </li>
                    <li><a class="EN" href=""><img src="<%= otherLang %>../images/uk.png" alt="Flag of UK">
                            <%= footer.en %>
                        </a></li>
                </ul>
            </li>
            <div class="login">
                <i class="fa-regular fa-user"></i>
            </div>
            <ul class="socials2">
                <li class="fade-in">
                    <a href="https://www.facebook.com/ClinicaGynebe/" target="_blank"> <i
                            class="fa fa-facebook"></i></a>
                </li>
                <li class="fade-in"><a href="https://www.instagram.com/clinica_gynebe/"><i
                            class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </ul>
    </nav>
    <div class="phone">
        <span class="first">
            <%= header.phone.title %>
        </span>
        <a href="tel:00351225432135">
            <address>
                <%= header.phone.landline %><sup class="phone_sup">1</sup>
            </address>
        </a>
        <a href="tel:00351915424413">
            <address>
                <%= header.phone.number %><sup class="phone_sup">2</sup>
            </address>
        </a>
    </div>
    <div class="login-wrapper">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</header>