<!DOCTYPE html>
<html>

<head>
    <title>
        <%= head.gallery %>
    </title>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content">
            <div class="overlay"></div>
            <div class="wrapper1">
                <div class="heading1 fade-in">
                    <h2>
                        <%= gallery.title %>
                    </h2>
                </div>
                <div class="box2-wrapper2">
                    <h6 class="fade-in">
                        <%= gallery.text %>
                    </h6>
                </div>
            </div>
            <div class="box6-wrapper1">
                <div class="box6 img1 fade-in">
                    <img src="../images/EVO_1662.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.waitRoom %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img2 fade-in">
                    <img src="../images/EVO_1675.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.waitRoom %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img3 fade-in">
                    <img src="../images/EVO_1687.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.waitRoom %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img4 fade-in">
                    <img src="../images/EVO_1711.jpg" alt="Corredor" />
                    <span class="img-content-hover">
                        <h4>
                            <%= gallery.images.area %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img5 fade-in">
                    <img src="../images/EVO_1714.jpg" alt="Sala de Pediatria" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.ped %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img6 fade-in">
                    <img src="../images/EVO_1720.jpg" alt="Sala de Pediatria" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.ped %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img7 fade-in">
                    <img src="../images/EVO_1725.jpg" alt="Sala de Pediatria" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.ped %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img8 fade-in">
                    <img src="../images/EVO_1732.jpg" alt="Sala de Exames" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.exams %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img9 fade-in">
                    <img src="../images/EVO_1737.jpg" alt="Sala de Exames" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.exams %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img10 fade-in">
                    <img src="../images/EVO_1744.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.gyne %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img11 fade-in">
                    <img src="../images/EVO_1747.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.gyne %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img12 fade-in">
                    <img src="../images/EVO_1750.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.gyne %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img13 fade-in">
                    <img src="../images/EVO_1755.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.gyne %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img14 fade-in">
                    <img src="../images/EVO_1768.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.gyne %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img15 fade-in">
                    <img src="../images/EVO_1782.jpg" alt="Copa" />
                    <span class="img-content-hover">
                        <h4>
                            <%= gallery.images.copa %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img16 fade-in">
                    <img src="../images/EVO_1790.jpg" alt="Quarto de Banho" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.babyChangingRoom %>
                        </h5>
                        <h4>
                            <%= gallery.images.toilet %>
                        </h4>
                    </span>
                </div>
                <div class="box6 img17 fade-in">
                    <img src="../images/EVO_1795.jpg" alt="Sala de Esterilização" />
                    <span class="img-content-hover">
                        <h5>
                            <%= gallery.images.text %>
                        </h5>
                        <h4>
                            <%= gallery.images.sterilization %>
                        </h4>
                    </span>
                </div>
            </div>
            <div class="backgroundCover"></div>
            <div class="slider">
                <div class="wrapper">
                    <div class="slides">
                        <span class="slide">
                            <img src="../images/EVO_1662.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1675.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1687.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1711.jpg" alt="Corredor" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1714.jpg" alt="Sala de Pediatria" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1720.jpg" alt="Sala de Pediatria" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1725.jpg" alt="Sala de Pediatria" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1732.jpg" alt="Sala de Exames" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1737.jpg" alt="Sala de Exames" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1744.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1747.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1750.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1755.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1768.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1782.jpg" alt="Copa" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1790.jpg" alt="Quarto de Banho" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1795.jpg" alt="Sala de Esterilização" />
                        </span>
                    </div>
                </div>
                <a class="control prev"></a>
                <a class="control next"></a>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/headerNavbarButtons.js"></script>
            <script src="../js/carousel.js"></script>
            <script src="../js/gallery.js"></script>
            <script src="../js/language.js"></script>
            <script src="../js/login.js"></script>
</body>

</html>